/*Colors*/
$color-primary: #3f51b5;
$color-primary-light: #757de8;
$color-primary-dark: #002984;
$color-secondary: #b0bec5;
$color-secondary-light: #e2f1f8;
$color-secondary-dark: #808e95;

/*Colors - comp */
$color-complete: #219653;
$color-danger: #eb5757;
$color-warning: #f2c94c;
$color-alert: #f2994a;
$color-white: #f2f2f2;
$color-white-light: #ffffff;
$color-gray: #e1e2e1;
$color-dark: #4f4f4f;
$color-black: #333333;

/*Fonts*/
$font-primary: Arial, sans-serif;

$font-size-xx: 44px;
$font-size-xl: 36px;
$font-size-lg: 24px;
$font-size-nm: 18px;
$font-size-sm: 16px;
$font-size-xs: 14px;

$font-head-xl: 54px;
$font-head-lg: 44px;
$font-head-nm: 36px;
$font-head-sm: 24px;
$font-head-xs: 18px;
$font-head-ss: 16px;
