/*Colors*/
$color-primary: #3f51b5;
$color-primary-light: #757de8;
$color-primary-dark: #002984;
$color-secondary: #b0bec5;
$color-secondary-light: #e2f1f8;
$color-secondary-dark: #808e95;

/*Colors - comp */
$color-complete: #219653;
$color-danger: #eb5757;
$color-warning: #f2c94c;
$color-alert: #f2994a;
$color-white: #f2f2f2;
$color-gray: #e1e2e1;
$color-dark: #4f4f4f;

/*Fonts*/
$font-primary: Arial, sans-serif;

$font-size-xx: 36px;
$font-size-xl: 24px;
$font-size-lg: 18px;
$font-size-nm: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;

$font-head-xl: 44px;
$font-head-lg: 36px;
$font-head-nm: 24px;
$font-head-sm: 18px;
$font-head-xs: 16px;
$font-head-ss: 14px;